.all-products {
  margin-top: 10px;
  display: flex;  
}
.img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
li {
  list-style-type: none;
}
.product {
  margin: 20px;
}
.back {
  color: aliceblue;
}
.max-width {
  max-width: 900px;
  margin: auto;
}
.detail {
  margin: auto;
}
.text-description {
  padding: 20px;
}
.counter{
  width: 25px;
  height: 25px;
  line-height: 21px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px rgb(94, 94, 94);
  color: #ffffff;
  text-align: center;
  display: block;
  padding-bottom: 20px;
  font-size: 15px;
  background-color: rgb(94, 94, 94);
  margin-left: -8px;
  margin-top: -8px;
}
.navbar-brand {
  display: flex;
}
.total {
  text-align: center;
  margin: 40px;

}
.noItems {
  text-align: center;
  margin-top: 25px;
}

.back-h {
  margin: 20px;
}
.navbar {
  position: fixed;
}